/*
* =======================================
* Global
* =======================================
*/
body {
  background-color: #f7f7f6;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.rounded {
  border-radius: 3px;
}

.left {
  float: left;
}

.right {
  float: right;
}

/*
* =======================================
* Brand
* =======================================
*/
a#brand {
  background: url(../images/logo.jpg) no-repeat;
  display: block;
  float: left;
  height: 39px;
  margin: 17px auto auto 36px;
  overflow: hidden;
  text-indent: -9999px;
  width: 120px;
}

/*
* =======================================
* Navigation
* =======================================
*/
nav#main {
  background-color: #54606b;
  height: 72px;
  width: 100%;

  ul {
    float: right;
    margin-right: 125px;
  }
  
  ul>li {
    float: left;
  }
  
  ul>li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    height: 72px;
    line-height: 72px;
    padding: 26px 40px;
  }
  
  ul>li a:hover, .main-active {
    background-color: #65b2ec;
  }
}

nav#sub {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  height: 72px;
  width: 100%;
}

nav#sub ul {
  text-align: center;
  width: 100%;
}

nav#sub ul>li {
  display: inline;
}

nav#sub ul>li a {
  color: #959595;
  font-size: 18px;
  line-height: 72px;
  padding: 21px 40px;
  text-decoration: none;
}

nav#sub ul>li a:hover, .sub-active {
  border-bottom: 5px solid #959595;
}

/*
* =======================================
* Container
* =======================================
*/
.container {
  height: auto;
  margin: 45px auto;
  width: 63%;
}

/*
* =======================================
* Data container
* =======================================
*/
.data-container {
  background: #fff;
}

/*
* =======================================
* Buttons
* =======================================
*/
#add-property {
  background-color: #fff;
  border: 1px solid #cacaca;
  color: #76c1f2;
  font-size: 14px;
  font-weight: bold;
  padding: 9px 30px;
}

#add-property:hover {
  background-color: #76c1f2;
  color: #fff;
}

/*
* =======================================
* Tables
* =======================================
*/
table.data-table {
  border-collapse: collapse;
  border-radius: 3px;
  border-spacing: 0;
  box-shadow: 0 0 0 1px #cacaca;
  color: #818181;
  margin-top: 20px;
  width: 100%;

  tr {
    border-bottom: 1px solid #cacaca;
  }

  tr.new-row {
    background-color: #6cb1e2;
    display: none;
    opacity: 0;
  }

  /* force blue on hover of new item */
  tr:hover.new-row, .blue-row {
    background-color: #6cb1e2;
  }
  
  tr:hover, .hilight-row {
    background-color: #f4f3f3;
  }

  tr:last-child {
    border-bottom: none;
  }
  
  td {
    font-weight: lighter;
    height: 40px;
    // line-height: 40px;
    padding: 10px;
    // padding: 15px 10px 15px 10px;
    vertical-align: middle;
  }
  
  .title {
    font-weight: 500;
  }
  
  .table-info, .table-form,
  .right-icons, .title {
    width: 18%;
  }
  
  td.left-icons {
    width: 8%;
  }
  
  td.right-icons i {
    float: right;
  }

  td.left-icons i.left, td.right-icons i {
    display: none;
  }

  // Select block --------------
  .table-select select {
    background: transparent;
    border: none;
    padding: 5px;
    height: 30px;
    text-indent: 7px;
    width: 135px;
    -webkit-appearance: none;
  }
  
  .table-select {
    background: url(../images/arrow-down.png) no-repeat right 7px center;
    border: #c5c5c5 solid 1px;
    border-radius: 3px;
    padding: 3px;
    height: 30px;
    overflow: hidden;
    width: 160px;

    .icon {
      margin: 7px auto auto 7px;
    }
  }

  .new-row .table-select {
    background: #fff url(../images/arrow-down.png) no-repeat right 7px center;
  }

  .table-select select.add-new {
    // margin-left: 20px;
    width: 100%;
  }

  .new-row input[type="text"] {
    border-radius: 3px;
    border: none;
    height: 10px;
    width: 90%;
    padding: 10px;
  }

  // nested ------------------
  .nested {
    background-color: #faf8f7;
    height: 240px;
  }

}

/*
* =======================================
* Icons
* =======================================
*/
.icon {
  display: inline-block;
  float: left;
  height: 17px;
  // margin: 7px auto auto 7px;
  width: 17px;
}

i.right {
  float: right;
}
  
.icon-string {
  background: url(../images/string.png) no-repeat;
}

.icon-date {
  background: url(../images/date.png) no-repeat;
}

.icon-nested {
  background: url(../images/nested.png) no-repeat;
}

.icon-number {
  background: url(../images/number.png) no-repeat;
}

.icon-handle {
  background: url(../images/handle.png) no-repeat;
  height: 33px;
  width: 14px;
}

.icon-trash {
  background: url(../images/trash.png) no-repeat;
}

.icon-down-arrow {
  background: url(../images/arrow-down.png) no-repeat center;
  height: 33px;
  margin-top: 4px;
}

.icon-right-arrow {
  background: url(../images/arrow-right.png) no-repeat center;
  height: 33px;
}

.icon-cancel {
  background: url(../images/cancel.png) no-repeat;
}

.icon-check {
  background: url(../images/check.png) no-repeat;
}

/*
* =======================================
* Operations
* =======================================
*/
.operations .icon {
  margin: 5px auto auto 15px;
}