/*
* =======================================
* Global
* =======================================
*/

// Box reset ---------------
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
// -------------------------

body {
  background-color: #f7f7f6;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

button {
  outline: none;
}

.rounded {
  border-radius: 3px;
}

.left {
  float: left;
}

.right {
  float: right;
}

/*
* =======================================
* Brand
* =======================================
*/
a#brand {
  background: url(../images/logo.jpg) no-repeat;
  display: block;
  float: left;
  height: 39px;
  margin: 17px auto auto 36px;
  overflow: hidden;
  text-indent: -9999px;
  width: 120px;
}

/*
* =======================================
* Navigation
* =======================================
*/
nav#main {
  background-color: #54606b;
  height: 72px;
  width: 100%;

  ul {
    float: right;
    margin-right: 125px;
  }
  
  ul>li {
    float: left;
  }
  
  ul>li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    height: 72px;
    line-height: 72px;
    padding: 26px 40px;
  }
  
  ul>li a:hover, .main-active {
    background-color: #65b2ec;
  }
}

nav#sub {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  height: 72px;
  width: 100%;
}

nav#sub ul {
  text-align: center;
  width: 100%;
}

nav#sub ul>li {
  display: inline;
}

nav#sub ul>li a {
  color: #959595;
  font-size: 18px;
  line-height: 72px;
  padding: 21px 40px;
  text-decoration: none;
}

nav#sub ul>li a:hover, .sub-active {
  border-bottom: 5px solid #959595;
}

/*
* =======================================
* Container
* =======================================
*/
.container {
  height: auto;
  margin: 45px auto;
  width: 63%;
}

/*
* =======================================
* Data container
* =======================================
*/
.data-container {
  background: #fff;
}

.data-nested-container {
  margin: 25px auto;
  width: 90%;

  ul {
    background: #fff;
  }
}

/*
* =======================================
* Buttons
* =======================================
*/
.add-property {
  background-color: #fff;
  border: 1px solid #cacaca;
  color: #76c1f2;
  font-size: 14px;
  font-weight: bold;
  padding: 9px 30px;
}

.add-property:hover {
  background-color: #76c1f2;
  color: #fff;
}

/*
* =======================================
* Tables
* =======================================
*/
ul.data-items {
  border-collapse: collapse;
  border-radius: 3px;
  border-spacing: 0;
  box-shadow: 0 0 0 1px #cacaca;
  color: #818181;
  list-style: none;
  margin: 20px 0px;
  padding: 0px;
  width: 100%;

  &>li {
    border-bottom: 1px solid #cacaca;
    font-weight: lighter;
    height: 60px;
    margin: 0px;
    padding: 10px;

    div {
      float: left;
      line-height: 40px;
      height: 40px;
    }

    &.new-row, &.sub-row {
      background-color: #6cb1e2;
      display: none;
      height: 0px;
      opacity: 0;
    }

    /* force blue on hover of new item */
    &:hover.new-row, &:hover.sub-row, .blue-row {
      background-color: #6cb1e2;
    }

    &:hover, &.hilight-row {
      background-color: #f4f3f3;
    }

    &:last-child {
      border-bottom: none;
    }

    .left-icons i.left, .right-icons i {
      display: none;
    }
  }

  // Select block --------------
  .item-select {
    background: url(../images/arrow-down.png) no-repeat right 7px center;
    border: #c5c5c5 solid 1px;
    border-radius: 3px;
    padding: 3px;
    height: 35px;
    overflow: hidden;
    width: 200px;

    select {
      background: transparent;
      border: none;
      float: left;
      padding: 3px;
      height: 25px;
      text-indent: 7px;
      max-width: 80%;
      min-width: 165px;
      -webkit-appearance: none;
    }

    .icon {
      float: left;
      margin: 5px auto auto 5px;
    }
  }

  .item-info, .item-form,
  .title {
    width: 25%;
  }

  .title {
    font-weight: 500;
  }

  // icons
  .left-icons {
    width: 10%;

    .right {
      margin: 2px 5px auto;
    }
  }

  .right-icons {
    width: 15%;
  }

  .right-icons i {
    float: right;
  }

  .right-icons .icon-trash {
    margin-top: 13px;
  }

  .icon-handle {
    margin-top: 4px;
  }

  .advanced-select {
    border: #c5c5c5 solid 1px;
    border-radius: 3px;
    color: #b9baba;
    padding: 3px;
    height: 30px;
    overflow: hidden;
    text-align: left;
    text-indent: 10px;
    width: 100px;
    margin: -5px 10px auto auto;
  }

  .advanced-down-arrow {
    background: #faf8f7 url(../images/advanced_arrow-down.png) no-repeat right 7px center;
  }

  .advanced-up-arrow {
    background: #faf8f7 url(../images/advanced_arrow-up.png) no-repeat right 7px center;
  }

  .new-row .item-select {
    background: #fff url(../images/arrow-down.png) no-repeat right 7px center;
    margin-top: 5px;

    select {
      // width: 100%;
      // float: right;
      margin-left: 25px;
    }
  }

  .new-row input[type="text"] {
    border-radius: 3px;
    border: none;
    height: 30px;
    width: 90%;
    padding: 10px;
  }

  // nested ------------------
  .nested {
    background-color: #faf8f7;
    display: none;
    height: 0px;
    // min-height: auto;
    padding: 0px;
    overflow: hidden;
  }
}

/*
* =======================================
* Icons
* =======================================
*/
.icon {
  display: inline-block;
  float: left;
  height: 17px;
  // margin: 7px auto auto 7px;
  width: 17px;
}

i.right {
  float: right;
  // margin-right: 7px
}
  
.icon-string {
  background: url(../images/string.png) no-repeat;
}

.icon-date {
  background: url(../images/date.png) no-repeat;
}

.icon-nested {
  background: url(../images/nested.png) no-repeat;
}

.icon-number {
  background: url(../images/number.png) no-repeat;
}

.icon-handle {
  background: url(../images/handle.png) no-repeat;
  height: 33px;
  width: 14px;
}

.icon-trash {
  background: url(../images/trash.png) no-repeat;
}

.icon-down-arrow {
  background: url(../images/arrow-down.png) no-repeat center;
  height: 33px;
  // margin-top: 4px;
}

.icon-right-arrow {
  background: url(../images/arrow-right.png) no-repeat center;
  height: 33px;
}

.icon-cancel {
  background: url(../images/cancel.png) no-repeat;
}

.icon-check {
  background: url(../images/check.png) no-repeat;
}

/*
* =======================================
* Operations
* =======================================
*/
.operations .icon {
  margin: 12px auto auto 15px;
}